= render './shared/header'
.p-mypageContainer
  %h2.p-mypage-name
    = current_user.name
    さんのアウトプット一覧
  .p-mypage-box
    .p-mypage-upperbox
      .p-mypage-upperbox__date
        日付
      .p-mypage-upperbox__name
        動画名
      .p-mypage-upperbox__body
        アウトプット内容
    .p-mypage-underbox
      - if @out_puts.present?
        - @out_puts.zip(@post) do |out_put, post|
          .p-mypage-content
            .p-mypage-date
              = post.created_at.strftime('%Y/%m/%d')
            .p-mypage-title
              = link_to "#{post.title}", post
            .p-mypage-body
              = out_put.body
        -# - @post.each do |post|
        -#   %td.p-mypage-date
        -#     = post.created_at.strftime('%Y/%m/%d')
        -#   %td.p-mypage-title
        -#     = link_to "#{post.title}", post
        -# - @out_puts.each do |out_put|
        -#   %td.p-mypage-body
        -#     = out_put.body

        -# - @out_puts.zip(@post) do |out_put, post|
        -#   = post.created_at.strftime('%Y/%m/%d')
        -#   = out_put.body
      - else
        %p
          現在アウトプットはありません
= render './shared/footer'
