%footer.l-footer
  .l-footer-inner
    .l-footer-left
      %ul.l-footer-left-nav
        %li= link_to "トップページ", root_path, class:"l-footer-left-nav__list"
        %li= link_to "取扱商品", "http://ledeal.co.jp/item/", class:"l-footer-left-nav__list"
        %li= link_to "セミナー", "http://ledeal.co.jp/seminar/", class:"l-footer-left-nav__list"
        %li= link_to "リンク集", "http://ledeal.co.jp/partner/", class:"l-footer-left-nav__list"
        %li= link_to "会社概要", "http://ledeal.co.jp/company/", class:"l-footer-left-nav__list"
        %li= link_to "リクルート", "http://ledeal.co.jp/ledeal_recruit/", class:"l-footer-left-nav__list"
        %li= link_to "新規出店サポート", "http://ledeal.co.jp/info/support/", class:"l-footer-left-nav__list"
        %li= link_to "LEDEAL通信", "http://ledeal.co.jp/info_category/blog_cate04/", class:"l-footer-left-nav__list"
        %li= link_to "お問い合わせ", "http://ledeal.co.jp/inquiry/", class:"l-footer-left-nav__list"
        %li= link_to "ブログ", "http://ledeal.co.jp/info/", class:"l-footer-left-nav__list"
        %li= link_to "サイトマップ", "#", class:"l-footer-left-nav__list"
        %li= link_to "プライバシーポリシー", "http://ledeal.co.jp/policy/", class:"l-footer-left-nav__list"
      .l-footer-log
        %p LEDEAL STUDY PLUS
        -# =link_to image_tag(asset_path("LEDEALLOG.JPG"),alt:'LEDEAL_LOG', size:"170x50"), root_path
      %ul.l-footer-sns
        %li.icon
          = link_to 'https://www.youtube.com/channel/UCd11OXrMtTb-E2B9tzb75dw/featured', target: :_blank do
            = fa_icon 'youtube', class:"l-sns-icon"
        %li.icon
          = link_to 'http://instagram.com/ledeal_official', target: :_blank do
            = fa_icon 'instagram', class:"l-sns-icon"
        %li.icon
          = link_to 'https://www.facebook.com/ledeal.ub.dw', target: :_blank do
            = fa_icon 'facebook-square', class:"l-sns-icon"
        %li.icon
          = link_to 'http://ledeal.co.jp/president/', target: :_blank do
            = fa_icon 'book', class:"l-sns-icon"
      %p.l-footer-text
        関西一円（大阪・神戸・京都・滋賀・奈良・福井・豊岡・福知山・和歌山・鳥取）の美容ディーラー・美容室向け美容材料卸販売会社
    .l-footer-right
      %ul.l-footer-right-nav
        %li= link_to "お問い合わせ", "http://ledeal.co.jp/inquiry/", class:"l-footer-right-nav__list"
        %li= link_to "関西の美容師さん、応援ブログ", "http://ledeal.co.jp/president/", class:"l-footer-right-nav__list"
        %li= link_to "MIRARERU project", "http://ledeal.co.jp/mirapuro/", class:"l-footer-right-nav__list"
        %li= link_to "求人サイト　JOBOON", "http://www.joboon.net/", class:"l-footer-right-nav__list"
  .l-footer-bottom
    %p copyright © Ledeal Group Co.,Ltd. All right reserved.