%header.l-header
  .l-header-inner
    .l-nav-left
      .l-nav-left__log
        %p
          =link_to 'LEDEAL STUDY PLUS', root_path
    %ul.l-nav-right
      - if current_user.try(:admin?)
        %li.l-nav-right__list
          = link_to "メーカー(投稿一覧)",  manufacturers_path
        %li.l-nav-right__list
          = link_to "動画投稿", new_post_path
        %li.l-nav-right__list
          = link_to "管理者権限", admin_restaurants_path
        %li.l-nav-right__list
          = link_to 'マイページ', mypage_path(current_user.id)
        %li.l-nav-right__list
          = link_to 'ログアウト', destroy_user_session_path, method: :delete
        %li.l-nav-right__list
          = render './shared/search_form'
      -elsif user_signed_in?
        %li.l-nav-right__list
          = link_to "メーカー(投稿一覧)",  manufacturers_path
        %li.l-nav-right__list
          = link_to 'マイページ', mypage_path(current_user.id)
        %li.l-nav-right__list
          = link_to 'ログアウト', destroy_user_session_path, method: :delete
        %li.l-nav-right__list
          = render './shared/search_form'
      - else
        %li.l-nav-right__list
          = link_to 'ゲストログイン', guest_login_index_path, method: :post
        %li.l-nav-right__list
          = link_to '新規登録',  new_user_registration_path
        %li.l-nav-right__noleft
          = link_to 'ログイン',   new_user_session_path
