%header.header-wrapper
  .header-inner
    .nav-left
      .nav-left__log
        =link_to image_tag(asset_path("LEDEALLOGchange.jpg"),alt:'LEDEAL_LOG', size:"134x36"), root_path
    %nav.nav-right
      %ul
      - if current_user.try(:admin?)
        %li= link_to "メーカー",  manufacturers_path, class:"header-list"
        %li= link_to "商品ランキング", "#", class:"header-list"
        %li= link_to "社長ブログ", "#", class:"header-list"
        %li= link_to 'ログアウト', destroy_user_session_path, class:"header-list", method: :delete
        -# %li= link_to "メーカー登録", new_manufacturer_path, class:"header-list"
        %li= link_to "動画投稿", new_post_path ,class:"header-list"
        %li= link_to "管理者権限", admin_restaurants_path ,class:"header-list"
      -elsif user_signed_in?
        %li= link_to "メーカー",  manufacturers_path, class:"header-list"
        %li= link_to "商品ランキング", "#", class:"header-list"
        %li= link_to "社長ブログ", "#", class:"header-list"
        %li= link_to 'ログアウト', destroy_user_session_path, class:"header-list", method: :delete
      - else
        %li= link_to 'ゲストログイン', guest_login_index_path, class:"header-list", method: :post 
        %li= link_to '新規登録',  new_user_registration_path, class:"header-list"
        %li= link_to 'ログイン',   new_user_session_path, class:"header-list"
