%header.header-wrapper
  .hedear-inner
    .nav-left
      .nav-left__log
        %h1= link_to "LEDEAL STUDY PULS", '/', class:"company-name feature-list"
    %nav.nav-right
      %ul
      - if current_user.try(:admin?)
        %li= link_to "メーカー",  manufacturers_path, class:"header-list feature-list"
        %li= link_to "商品ランキング", "#", class:"header-list feature-list"
        %li= link_to "社長ブログ", "#", class:"header-list feature-list"
        %li= link_to 'ログアウト', destroy_user_session_path, class:"header-list feature-list", method: :delete
        %li= link_to "メーカー登録", new_manufacturer_path, class:"header-list feature-list"
        %li= link_to "動画投稿", new_post_path ,class:"header-list feature-list"
      -elsif user_signed_in?
        %li= link_to "メーカー",  manufacturers_path, class:"header-list feature-list"
        %li= link_to "商品ランキング", "#", class:"header-list feature-list"
        %li= link_to "社長ブログ", "#", class:"header-list feature-list"
        %li= link_to 'ログアウト', destroy_user_session_path, class:"header-list feature-list", method: :delete
      - else
        %li= link_to 'ログアウト', destroy_user_session_path, class:"header-list feature-list", method: :delete
        %li= link_to '新規登録',  user_session_path, class:"header-list feature-list"
        %li= link_to 'ログイン',   new_user_session_path, class:"header-list feature-list"
%p.alert= alert
