= render "./shared/header"
.form-wrapper
  .form
    .log-in ログイン
    = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
      .Login-field
        = f.text_field :name, autofocus: true, class:"field-box", placeholder:"名前"
      .Login-field
        = f.number_field :staff_num, class:"field-box", placeholder:"社員番号"
      .Login-field
        = f.password_field :password, autocomplete: "current-password", class:"field-box", placeholder:"パスワード"
      .actions
        = f.submit "ログイン", class:"button"
= render "./shared/footer"
