<%= render 'layouts/nav' %>
<section class="manufacturers">
  <h2 class="manufacturer-add">動画投稿</h2>
</section>



<%= form_with(model: Post.new,local: true)do|form|%>
  <div class="field">
    <%= form.text_field :title, class:'field-box',placeholder:'動画のタイトル'%>
  </div>
  <div class="field">
    <%= form.collection_select :manufacturer_id, Manufacturer.all, :id, :name, {prompt: true}, class:'field-box'%>
  </div>
  <div class="field">
    <%= form.text_field :youtube_url, class:'field-box',placeholder:'youtubeのURL'%>
  </div>
  <div class="field">
    <%= form.text_area :body, class:'field-box', placeholder:'動画の詳細'%>
  </div>
  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>