= render './shared/header'
%h1 メーカー一覧
- @categories.slice(10..90).each do |category|
  %section.manufacturer-wrapper
    %ul
      %li
        %span
          = link_to image_tag(image_url("#{category.image}"), calss:'l-list-image'), manufacturer_show_path(category.id)
        %span
          = category.name
= render './shared/footer'
