= render 'layouts/nav'
%section.manufacturers
  %h2.manufacturer-add メーカー追加
- if @manufacturer.errors.any?
  #error_explanation.alert.alert-danger
    %ul
      - @manufacturer.errors.full_messages.each do |message|
        %li= message
= form_with(model: Manufacturer.new,local: true)do|form|
  .field
    = form.text_field :name, class:'field-box', placeholder:'メーカー名'
  .field
    = form.label :画像を選択してください
    %br/
    = form.file_field :image
  .actions
    = form.submit
