= render './shared/header'
- breadcrumb :manufacturer_detail, @category
= render "./shared/breadcrumbs"
- if @post.present?
  .l-manufacturer-title
    ="#{@category.name}"
  .l-manucaturer-movie__wrapper
    - @post.each do |post|
      %ul.l-l-manufacturer-movie
        %li.l-manufacturer-movie__list
          .l-manufacturer-movie__title
            = link_to "#{post.title}", post
          .l-manufacturer-movie__movie
            %iframe.feature-item{allow: "accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture", allowfullscreen: "", frameborder: "0", height: "100", src: "https://www.youtube.com/embed/#{post.youtube_url}", width: "100%"}
          .l-manufacturer-movie__name
            = '商品名:' "#{post.title}"
          .l-manufacturer-movie__release
            ='発売日:'"#{post.release_date}"
          .l-manufacturer-movie__show
            = link_to '詳細', post

- else
  %p.no-post
    このメーカーには動画が投稿されていません
.c-pagenate
  = paginate @post
%p.c-top-page.c-top-page--btn
  = link_to "TOP PAGE", root_path
= render './shared/footer'
