%body
  %header.header
    .content-wrapper.header-nav.feature-list
      %h1= link_to "LEDEAL STUDY PULS", posts_path, class:"company-name feature-list"
      %nav
        %ul
          - if current_user.try(:admin?)
            %li= link_to "メーカー",  manufacturers_path, class:"header-list feature-list"
            %li= link_to "商品ランキング", "#", class:"header-list feature-list"
            %li= link_to "社長ブログ", "#", class:"header-list feature-list"
            %li= link_to 'ログアウト', destroy_user_session_path, class:"header-list feature-list", method: :delete
            %li= link_to "メーカー登録", new_manufacturer_path, class:"header-list feature-list"
            %li= link_to "動画投稿", new_post_path ,class:"header-list feature-list"
            %li= link_to "管理者画面", rails_admin_path, class:"header-list feature-list"
            / admin追加後設定　
          - else
            %li= link_to "メーカー",  manufacturers_path, class:"header-list feature-list"
            %li= link_to "商品ランキング", "#", class:"header-list feature-list"
            %li= link_to "社長ブログ", "#", class:"header-list feature-list"
            %li= link_to 'ログアウト', destroy_user_session_path, class:"header-list feature-list", method: :delete
  %p.notice= notice
  %p.alert= alert
  = yield
