%body
  %header.header
    .content-wrapper.header-nav.feature-list
      %h1= link_to "LEDEAL STUDY PULS", posts_path, class:"company-name feature-list"
      %nav
        %ul
          - if user_signed_in?
            %li= link_to "メーカー",  manufacturers_path, class:"header-list feature-list"
            %li= link_to "商品ランキング", "#", class:"header-list feature-list"
            %li= link_to "社長ブログ", "#", class:"header-list feature-list"
            %li= link_to 'ログアウト', destroy_user_session_path, class:"header-list feature-list", method: :delete
            / admin追加後設定　
          - elsif current_user.id.to_s == params[:id == 12]
            %li= link_to "メーカー登録", new_manufacturer_path, class:"header-list feature-list"
            %li= link_to "動画投稿", new_post_path ,class:"header-list feature-list"
          - else
  %p.notice= notice
  %p.alert= alert
  = yield
