<!DOCTYPE html>
<html>
  <head>
    <title>LEDEALStudyPlus</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <style type="text/css">
    body {
      background-color: #BCE0FD;
    }
    </style>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
    <%= yield %>
  </body>
</html>
