!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title LEDEALSTUDYPLUS
    = csrf_meta_tags
    = csp_meta_tag
    %meta{:content => "width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0", :name => "viewport"}/
    -# = javascript_include_tag 'application', media: 'all'
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    //LOGOフォント読み込み
    %link{:href => "https://fonts.googleapis.com/css2?family=Anton&display=swap", :rel => "stylesheet"}/
    //スライダー機能CDN読み込み
    %link{ rel: "stylesheet", type: "text/css", href: "//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"}
    = javascript_include_tag 'application', data: { turbolinks: { track: true }}
    %script{ type: "text/javascript", src: "//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"}
  %body
    = yield
